
body{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
div{
    text-align:center ;
    background-color:#FF0000;
}

body{
    background-color:#000000;
}
tr{
    text: 1000px;
}
a{
    color: aliceblue;
}
hr{
    color: #FF0000;
}
img{
 
}